


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


nav{
  font-variant: small-caps;
  display:flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background:grey;
}
nav a {
  text-decoration:none;
}
nav a:link {
  color: black;
}
nav a:visited {
  color: black;
}

.nav-links{
  width:50%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.route{
  min-height: 90vh;
  display:flex;
  flex-direction: column ;
}

.route ul{
  list-style: none;
  font-variant: small-caps;
  text-align:left;
}

.route h3{
  font-variant: small-caps;
  padding-left: 20px;
  text-decoration: underline;
}
.route p{
  padding-right:40px;
  padding-left:40px;
}

.heros{
  display:flex;
  flex-direction: row ;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
